body {
	
	font-family:"Open Sans";
	margin:0px;
	height:100%;
}

.topHeader  {
	
	background-color:black;
	height:70px;
	position: fixed;
	width: 100%;
	font-family:"Open Sans";
	font-weight:600;
	z-index:9999;
}

h1 {
	
	color:white;
	font-weight:300;
	font-size:1.7em;
	padding-top: 13px;
}

.col-lg-3 {
	
	width: 30%;
	float: left;
	height:100%;
	position: fixed;
	top: 70px;
}

.col-lg-9 {
	
	width: 67%;
	float: right;
	top: 100px;
	position:relative;
}

.sidebar {
	
	border-right: 1px solid #e5e5e5;
	float:right;
	height:100%;
	width:100%;
}

a {
	
    display: block;
    padding: 0.5em 2em 0.5em 1em;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 1px;
    color: #a2a8a8;
    text-align: right;
    text-decoration: none;
    border-radius: 0;
    font-family:roboto;
}

li {
	
	float:none;
	
}

ul {
	
    list-style: none;	
}


span {
	
	text-align: right;
}

.nav-section-title {
	
     text-align: right;
    text-transform: uppercase;
    display: block;
    padding: .5em 2em .5em 0;
    font-weight: 600;
    line-height: 2em;
    letter-spacing: 1px;
    color: #262829;
    text-align: right;
    text-transform: uppercase;
    font-family: "open sans";
    font-size: 0.9em;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

.subHeading {
	
	color: #666666;
	font-weight:200;
}